polyspec/cython/tauNL_utils.c
polyspec/cython/tauNL_utils.cpp
polyspec/cython/k_integrals.c
polyspec/cython/k_integrals.cpp
polyspec/cython/ideal_fisher.c
polyspec/cython/ideal_fisher.cpp
polyspec/cython/*.so
polyspec/cython/build
polyspec/cython/build/*
.ipynb_checkpoints
.ipynb_checkpoints/*
