.ipynb_checkpoints/*
.ipynb_checkpoints
notebooks/*.ipynb
notebooks
testing
testing*.ipynb
testing/*
*.txt
*.csv
*.png
polybin/*old*
planck
planck/*
planck_public/*setup*
planck_public/*pol*
planck_public/*pol.ipynb
planck_trispectrum/*
planck_trispectrum
models/*
models
nano *.ipynb
*.txt'
*.jl
*.npz
*old*
old/
old/*
*__pycache__*
README-tmp.md
testing_notebooks/*
Tutorial-*.ipynb
