.ipynb_checkpoints/*
.ipynb_checkpoints
notebooks/*.ipynb
notebooks
testing
testing*.ipynb
testing/*
*.txt
*.csv
*.png
polybin/*old*
planck
planck/*
planck_trispectrum/*
planck_trispectrum
models/*
models
nano *.ipynb
*.txt'
*.jl
*.npz
old/
old/*
*__pycache__*
README-tmp.md
